/* Site wide rules that do not change w/ other CSS themes */

html {
    font-size: 100%;
}

body {
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
}

body.home {
    position: relative;
}

#article1, #article2, #article3 {
    max-height: 90vh;
}

#metadata1,
#metadata2,
#metadata3 {
    max-height: 35vh;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

button.btn.btn-outline-secondary {
    border: none
}