/* we need to download the fonts and load them locally for final version */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab:wght@500&display=swap');

/* Site wide rules */

html {
    font-size: 100%;
}

* {
    font-family: 'Inter', sans-serif;
}

/* navbar rules */

.navbar {
    margin-bottom: 1rem;
    background-color: #111;
}

.navbar-brand {
    font-family: 'Roboto Slab', sans-serif;
    color: #f4f4f4;
}

.nav-link, .nav-link:focus, .nav-link:hover {
    color: #f4f4f4;
}

.dropdown-menu {
    color:#111;
    background-color: #f4f4f4;
}

.dropdown-item, .dropdown-item:focus, .dropdown-item:hover {
    color: #111;
}

.dropdown-item:hover {
    background-color: #E9ECEF;
}

/* body rules */

body {
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #f4f4f4;
    color: #111;
}

body.home {
    position: relative;
}

a {
    color: #111;
}

a.navbar-brand:hover {
    color: #f4f4f4;
}

a:hover {
    color: #111;
}

.card {
    background-color: #111;
    color: #f4f4f4;
    max-width: 100%;
}

.card-lens {
    background-color: transparent;
    color: #111;
}

.card-lens .card-title {
    color: #111;
}

.card-title {
    color: #f4f4f4;
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    color: #111;
    font-size: 2rem;
    padding: 0.5rem;
}

h5.modal-title {
    font-size: 1.25rem;
}

/* do we still need these? */

.span[about="mention-person"].custom-highlight {
    background-color: #FF2D00;}
.span[about="mention-location"].custom-highlight {
    background-color: #FFF000;}
.span[about="mention-group"].custom-highlight {
    background-color: #7CFF00;}
.span[about="mention-organization"].custom-highlight {
    background-color: #00FFC1;}
.span[about="mention-track"].custom-highlight {
    background-color: #00FFF7;}
.span[about="mention-album"].custom-highlight {
    background-color: #00ECFF;}
.span[about="mention-sample"].custom-highlight {
    background-color: #0074FF;}
.span[about="mention-rhyme"].custom-highlight {
    background-color: #8000FF;}
.span[about="mention-character"].custom-highlight {
    background-color: #F000FF;}
.span[about="mention-genre"].custom-highlight {
    background-color: #FF0055;}
.span[about="mention-label"].custom-highlight {
    background-color: #C70039;}
.span[about="mention-subject"].custom-highlight {
    background-color: #DAF7A6;}
.span[about="mention-technology"].custom-highlight {
    background-color: #00ECFF;}
.span[about="mention-company"].custom-highlight {
    background-color: #0074FF;}
.span[about="mention-event"].custom-highlight {
    background-color: #8000FF;}

/* Issue page specific rules */

.subheader {
    font-size: 1.25rem;
}

figcaption, .byline {
    font-size: 0.875rem;
    padding: 0.25rem;
}

#article1, #article2, #article3 {
    max-height: 90vh;
}

#metadata1, #metadata2, #metadata3 {
    max-height: 35vh;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

button.btn.btn-outline-secondary {
    border: none
}