/* Art Deco theme */

/* Poiret One for quotes, titles */ 

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Cormorant Garamond for menus  */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');

/* Limelight for brand */ 

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

/* Prata (serif) for text */

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* navbar rules */

.navbar {
    margin-bottom: 1.25vw;
    background-color: #6F1946;
    font-size: 1.4vw;
}

.navbar-brand {
    font-family: 'Limelight', cursive;
    color: #fff;
    font-size: 1.4vw;
}

.nav-link, .dropdown-item {
    font-family: 'Cormorant Garamond', serif ;
    text-transform: uppercase;
    color: #fff ;
  }

.protect {
    text-transform: none;
  }

a.navbar-brand:hover, a.navbar-brand:focus {
    color: #68A469;
    text-decoration: none;
}

.nav-link:focus, .nav-link:hover {
    color: #68A469 !important;
    text-decoration: none;
}

.dropdown-menu {
    background-color: #6F1946;
    font-size: 1.25vw;
}

.dropdown-item, .dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
}

.dropdown-item:hover {
    background-color: rgb(104 164 105 / 75%);
    text-decoration: none;
}

/* body rules */

body {
    background-color: #fff;
    color: #111;
    font-family: 'Prata', serif;
    font-size: 1.25vw;
}

a, a:hover, a:focus {
    color: #111;
    text-decoration: underline;
    text-decoration-color: #68A469;
}

/* home page boxes */ 

.card {
    border-radius: 0 !important;
    border: none !important;
}

.card-body {
    padding: 0.62vw;
}

.card-issue, .card-lens {
    max-width: 100%;
    margin: 0 !important;
}

p.card-text {
    font-family: 'Cormorant Garamond', serif ;
    font-style: italic;
    margin-bottom: 0.625vw;
    font-size: 1.4vw;
}

.card-issue .card-title, .card-lens .card-title {
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif ;
    margin-bottom: 0;
    color: #6F1946;
    text-transform: uppercase;
    font-size: 1.6vw;
}

.card-issue:hover, .card-lens:hover {
    color: #68A469;
}

/* header rules */

h1, h2, h3, h4, h5, h6 {
    padding: 0.31vw;
    font-family: 'Limelight', cursive;
    font-weight: normal;
}
  
h1 {
    font-size: 3.75vw;
}

h1.homepage, .homepage-sub {
    font-family: 'Poiret One', cursive;
}

h2 {
    font-size: 2.34vw;
}

h3 {
    font-size: 1.875vw;
}

h4 {
    font-size: 1.5625vw;
}

h5 {
    font-size: 1.51vw;
}

h5.modal-title {
    font-family: 'Cormorant Garamond', serif ;
    text-transform: uppercase;
    color: #fff !important;
}

h6 {
    font-size: 1.4vw;
}
  
/* blockquote rules */

.blockquote {
    font-size: 1.56vw;
    margin: 1.25vw 0 1.25vw 0;
}

.blockquote-footer {
    color: #6F1946;
    font-size: 1.25vw;
}

/* paragraph rules */

p {
    margin-bottom: 0vw;
}

#article1,
#article2,
#article3 {
  max-height: 88vh !important;
}

.deco-drop {
    text-transform: uppercase;
}

.modal-body p:nth-child(n+2) {
    text-indent: 1.25vw;
}

#homepage p:nth-child(n+5) {
    text-indent: 1.25vw;
}

#homepage p:not(.byline):not(.subheader):not(blockquote > p):not(.card-text):not(#issue-meta p):nth-child(4)::first-letter {
    font-size: 3.75vw;
    float: left;
    line-height: 4.4vw;
    margin-bottom: -0.7vw;
}

.modal-body p:nth-child(1)::first-letter {
    font-size: 3.75vw;
    float: left;
    line-height: 4.4vw;
    margin-bottom: -0.7vw;
}

#docuModal .modal-body p:nth-child(1)::first-letter {
    font-size: 1.25vw !important;
    float: none !important;
    line-height: normal !important;
    padding-right: 0 !important;
}

#article1 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(4)::first-letter {
    font-size: 6.25vw;
    float: left;
    line-height: 6.8vw;
    margin-bottom: -1.2vw;
}

#article2 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(5)::first-letter {
    font-size: 6.25vw;
    float: left;
    line-height: 6.8vw;
    margin-bottom: -1.2vw;
}

#article3 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(5)::first-letter {
    font-size: 6.25vw;
    float: left;
    line-height: 6.8vw;
    margin-bottom: -1.2vw;
}

.dropcap::first-letter {
    font-size: 6.25vw;
    float: left;
    line-height: 6.8vw;
    margin-bottom: -1.2vw;
}

.dropcap-two::first-letter {
    font-size: 6.25vw;
    float: left;
    line-height: 6.8vw;
    margin-bottom: -1.2vw;
}

.dropcap-wapo::first-letter {
    font-size: 6.25vw !important;
    float: left !important;
    line-height: 6.8vw !important;
    margin-bottom: -1.2vw !important;
}

.dropcap-nyt::first-letter {
    font-size: 6.25vw !important;
    float: left !important;
    line-height: 6.8vw !important;
    margin-bottom: -1.2vw !important;
}

p.no-dropcap::first-letter {
    font-size: 1.25vw !important;
    float: none !important;
    line-height: normal !important;
    padding-right: 0 !important;
}

p.no-dropcap {
    text-indent: 1.25vw;
}

#article1 p:not(.dropcap):nth-child(n+5) {
    text-indent: 1.25vw;
}

#article2 p:nth-child(n+6) {
    text-indent: 1.25vw;
}

#article3 p:not(.dropcap-two):nth-child(n+6) {
    text-indent: 1.25vw;
}

p.after-box {
    text-indent: 0 !important;
    padding-top: 0.23vw;
}

.after-box::first-letter {
    font-size: 3.75vw;
    float: left;
    line-height: 4.4vw;
    margin-bottom: -0.7vw;
}

/* buttons and modals */

.btn-outline-secondary {
    color: #fff;
}

.btn-outline-secondary:active, .btn-outline-secondary:hover {
    color: #68A469;
    background-color: transparent;
}

.btn-secondary, .modal-header, .modal-footer, .clear-highlights {
    color: #fff;
    background-color: #6F1946;
    border-color: #68A469;
    padding: 0.62vw;
}

.btn.clear-highlights:hover, .btn-secondary:hover {
    color: #68A469;
    background-color: #6F1946;
    border-color: #68A469;
}

.clear-highlights {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

.btn-secondary, .btn {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 1.40vw;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus, .btn:focus {
    color: #fff;
    background-color: #6F1946;
    border-color: #68A469;
    box-shadow: 0 0 0 0.15vw rgb(104 164 105 / 75%);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 0.15vw;
}

.btn-check:focus+.btn-outline-secondary, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.15vw rgb(104 164 105 / 75%);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 0.15vw;
}

.btn-group>:not(.btn-check)+.btn {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 0.15vw;
}

.btn, .dropdown-menu {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-sm {
    font-size: 1.09vw !important;
}

.modal-content {
    border-radius: 0.3rem 0.3rem 0 0;
}

.modal-footer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* text */ 

figcaption {
    font-size: 0.78vw;
    padding-top: 0.625vw;
    font-style: italic;
    text-align: center;
}

.byline {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

.update {
    font-size: 1.09vw;
    font-style: italic;
}

.homepage-sub {
    font-style: italic;
}

.homepage-header {
    margin-bottom: 0;
}

/* theme specific */

.cover-img {
    border: 0.15vw double #111;
    border-width: 0.78vw;
    padding: 1.56vw;
}

img {
    filter: grayscale(100%);
}

/* kmd styles */


.kmd-91-t, .kmd-94-t, .kmd-98-t {
    text-align: center;
    font-family: 'Prata', serif;
}

.kmd-91-b, .kmd-94-b, .kmd-98-b {
    margin-bottom: 1.25vw;
    text-align: center;
    font-size: 1.4vw;
}

.kmd-91-bq {
    padding: 1.25vw;
    text-align: center;
    font-style: italic;
}

.kmd-94-s, .kmd-98-s {
    margin-bottom: 0.625vw;
    font-size: 1.5625vw;
    font-style: italic;
    text-align: center;
}

.kmd-94-img-2 {
    float: left;
    width: 50%;
    margin: 1.56vw;
}

.kmd-94-img {
    float: right;
    width: 50%;
    margin: 1.56vw;
}

.kmd-94-caption {
    text-align: center;
    font-style: italic;
    float: left;
    width: 50%;
    margin: 0 1.56vw 1.56vw 1.56vw;
}

.kmd-94-bq {
    text-align: center;
    font-style: italic;
}

.kmd-98-artwork, .kmd-98-artwork-3 {
    margin: 1.56vw;
    float: right;
    width: 50%;
}

.kmd-98-artwork-2, .kmd-98-artwork-4 {
    margin: 1.56vw;
    float: left;
    width: 50%;
}

/* timnit styles */

.timnit-mit-t, .timnit-wapo-t, .timnit-nyt-t {
    text-align: center;
    font-family: 'Prata', serif;
}

.timnit-mit-b, .timnit-wapo-b, .timnit-nyt-b {
    margin-bottom: 1.25vw;
    text-align: center;
    font-size: 1.4vw;
}

.timnit-mit-s, .timnit-wapo-s, .timnit-nyt-s {
    margin-bottom: 0.625vw;
    font-size: 1.5625vw;
    font-style: italic;
    text-align: center;
}

h2.mit-header, h2.nyt-header {
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding: 0.625vw;
    margin: 0.625vw;
}

.nyt-photo {
    float: right;
    width: 60%;
    margin: 1.56vw;
}

.nyt-photo-cap {
    text-align: center;
    font-style: italic;
    float: right;
    width: 60%;
    margin: 0 1.56vw 1.56vw 1.56vw;
}

.nyt-photo-2 {
    float: left;
    width: 60%;
    margin: 1.56vw;
}

.nyt-photo-cap-2 {
    text-align: center;
    font-style: italic;
    float: left;
    width: 60%;
    margin: 0 1.56vw 1.56vw 1.56vw;
}

/* metadata viewer */

.offcanvas {
    background-color: #6F1946;
    color: #fff;
}

.offcanvas-title, .offcanvas-body h5 {
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    text-align: center;
}

.offcanvas-header {
    border-bottom: 0.15vw solid #68A469;
    margin: 0.625vw;
}

.offcanvas-body p, .offcanvas ul, .offcanvas ol {
    font-size: 1.09375vw;
}

.offcanvas ul, .offcanvas ol {
    background-color: #6F1946;
}

.offcanvas ol li::marker {
    font-family: 'Poiret One', cursive;
    color: #68A469;
}

.offcanvas li a {
    color: #fff;
    text-decoration: none;
}

.offcanvas li a:hover {
    text-decoration: none;
    color: #6F1946;
}

.offcanvas li:hover {
    background-color: transparent;
}

.offcanvas .dropdown-menu.show {
    background-color: #68A469;
}

.offcanvas-body h6 {
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    margin-top: 0.625vw;
    text-align: center;
}

.offcanvas hr {
    color: #68A469;
    height: 0.1vw !important;
    opacity: 1 !important;
}

.accordion-header {
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

.accordion-item {
    background-color: transparent;
    border: 0.07vw solid rgb(104 164 105);
}

.offcanvas .accordion-button {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

.accordion-button {
    color: #fff;
    font-size: 1.4vw;
}

.accordion-button:focus {
    color: #fff;
    background-color: transparent;
    border-color: #6F1946;
    box-shadow: 0 0 0 0.31vw rgb(104 164 105 / 75%);
}

.offcanvas .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: transparent;
}

.offcanvas .accordion-button.collapsed {
    color: #fff;
    background-color: transparent;
}

#docuModal .accordion-button:not(.collapsed), .accordion-button.collapsed {
    color: #111;
    background-color: transparent;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2368A469'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    width: 1.56vw;
    height: 1.56vw;
    background-size: 1.56vw;
}

.custom-highlight {
    background-color: #6F1946;
    color:#fff;
}

/* Borders and Dividers */

.triple-diamond-deco-container {
    display: grid;
    grid-template-columns: [line-start] 1fr [small-start] 0.6vw [large-start] 0.2vw [small-end] 0.9vw [small-start] 0.14vw [large-end] 0.625vw [small-end] 1fr [line-end];
    grid-template-rows: [large-start] 0.25vw [small-start] 0.33vw [midline] 0.45vw [small-end] 0.25vw [large-end];
    margin-bottom: 1vw;
}

.triple-diamond-deco-container .left-line {
    grid-row: midline / large-end;
    border-top: 0.15vw solid #111;
}

.triple-diamond-deco-container .right-line {
    grid-row: midline / large-end;
    border-top: 0.15vw solid #111;
}

.triple-diamond-deco-container .small-diamond-left {
    grid-column: small-start 1 / small-end 1;
    grid-row: small-start / small-end;
    transform: rotate(45deg);
    border: 0.2vw solid #6F1946;
}

.triple-diamond-deco-container .small-diamond-right {
    grid-column: small-start 2 / small-end 2;
    grid-row: small-start / small-end;
    transform: rotate(45deg);
    border: 0.2vw solid #6F1946;
}

.triple-diamond-deco-container .large-diamond {
    grid-area: large;
    transform: rotate(45deg);
    border: 0.15vw solid #68A469;
}

.issues-lenses {
    position: relative;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    border: 0.07vw solid black;
    top: -0.93vw;
}

.issues-lenses:before {
    content:'';
    position: absolute;
    top:-0.78vw;
    bottom:-0.78vw;
    left:0.39vw;
    right:0.39vw;
    border-left: 0.07vw solid black;
    border-right: 0.07vw solid black;
}

.issues-lenses:after {
    content:'';
    position: absolute;
    top:0.39vw;
    bottom:0.39vw;
    left:-0.78vw;
    right:-0.78vw;
    border-top: 0.07vw solid black;
    border-bottom: 0.07vw solid black;
}

.corners-deco-container {
    display: grid;
    grid-template-columns: 
    [corner-start]  5px
    [square-start]  5px
    [edge-start]    5px
    [square-end]    5px
    [corner-end]    25px
    [edge-end]      1fr
    [edge-start]    25px
    [corner-start]  5px
    [square-start]  5px
    [edge-end]      5px
    [square-end]    5px
    [corner-end]
    ;
    grid-template-rows: 
    [corner-start]  5px 
    [square-start]  5px
    [edge-start]    5px
    [square-end]    5px
    [corner-end]    25px
    [edge-end]      1fr
    [edge-start]    25px
    [corner-start]  5px
    [square-start]  5px
    [edge-end]      5px
    [square-end]    5px
    [corner-end]
    ;
    padding: 1.25vw;
}

.corners-deco-container.homepage {
    width: 70%;
}

.corners-deco-container .content {
    grid-column: corner-end 1 / corner-start 2;
    grid-row: corner-end 1 / corner-start 2;
}

.corners-deco-container .square-left-top {
    grid-column: square-start 1 / square-end 1;
    grid-row: square-start 1 / square-end 1;
    border: 1px solid #68A469;
}

.corners-deco-container .square-left-bottom {
    grid-column: square-start 1 / square-end 1;
    grid-row: square-start 2 / square-end 2;
    border: 1px solid #68A469;
}

.corners-deco-container .square-right-top {
    grid-column: square-start 2 / square-end 2;
    grid-row: square-start 1 / square-end 1;
    border: 1px solid #68A469;
}

.corners-deco-container .square-right-bottom {
    grid-column: square-start 2 / square-end 2;
    grid-row: square-start 2 / square-end 2;
    border: 1px solid #68A469;
}

.corners-deco-container .horizontal-edge-left {
    grid-column: edge-start 1 / edge-end 1;
    grid-row: edge-start 1 / edge-end 2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

.corners-deco-container .horizontal-edge-right {
    grid-column: edge-start 2 / edge-end 2;
    grid-row: edge-start 1 / edge-end 2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

.corners-deco-container .vertical-edge-left {
    grid-column: edge-start 1 / edge-end 2;
    grid-row: edge-start 1 / edge-end 1; 
    border-left: 1px solid #111;
    border-right: 1px solid #111;
}

.corners-deco-container .vertical-edge-right {
    grid-column: edge-start 1 / edge-end 2;
    grid-row: edge-start 2 / edge-end 2;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
}

.corners-deco-container .left-outer {
    grid-column: corner-start 1 / corner-end 1;
    grid-row: corner-start 1 / corner-end 2;
    border-top: 1px solid #6F1946;
    border-bottom: 1px solid #6F1946;
}

.corners-deco-container .right-outer {
    grid-column: corner-start 2 / corner-end 2;
    grid-row: corner-start 1 / corner-end 2;
    border-top: 1px solid #6F1946;
    border-bottom: 1px solid #6F1946;
}

.corners-deco-container .top-outer {
    grid-column: corner-start 1 / corner-end 2;
    grid-row: corner-start 1 / corner-end 1;
    border-left: 1px solid #6F1946;
    border-right: 1px solid #6F1946;
}

.corners-deco-container .bottom-outer {
    grid-column: corner-start 1 / corner-end 2;
    grid-row: corner-start 2 / corner-end 2;
    border-left: 1px solid #6F1946;
    border-right: 1px solid #6F1946;
}

.corners-deco-container .left-inner {
    grid-column: corner-start 1 / edge-start 1;
    grid-row: corner-end 1 / corner-start 2;
    border-top: 1px solid #6F1946;
    border-bottom: 1px solid #6F1946;

}

.corners-deco-container .right-inner {
    grid-column: edge-end 2 / corner-end 2;
    grid-row: corner-end 1 / corner-start 2;
    border-top: 1px solid #6F1946;
    border-bottom: 1px solid #6F1946;
}

.corners-deco-container .top-inner {
    grid-column: corner-end 1 / corner-start 2;
    grid-row: corner-start 1 / edge-start 1;
    border-left: 1px solid #6F1946;
    border-right: 1px solid #6F1946;
}

.corners-deco-container .bottom-inner {
    grid-column: corner-end 1 / corner-start 2;
    grid-row: edge-end 2 / corner-end 2;
    border-left: 1px solid #6F1946;
    border-right: 1px solid #6F1946;
}

.square-deco-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 
    [outer-start]  5px 
    [mid-start]    5px
    [inner-start]  2px
    [gap-start]    1fr
    [gap-end]      2px
    [inner-end]    5px
    [mid-end]      5px 
    [outer-end] 
    ;
    grid-template-rows: 
    [outer-start]  5px 
    [mid-start]    5px 
    [inner-start]  2px
    [gap-start]    1fr
    [gap-end]      2px
    [inner-end]    5px
    [mid-end]      5px 
    [outer-end] 
    ;
    padding: 1.25vw;
}

.square-deco-container .square-deco-content {
    grid-area: inner;
}

.square-deco-container .square-deco-inner {
    grid-area: mid;
    border: 1px solid #111;
}

.square-deco-container .square-deco-square-left-top {
    grid-column: outer-start / inner-start;
    grid-row: outer-start / inner-start;
    border: 1px solid #68A469;
}

.square-deco-container .square-deco-square-left-bottom {
    grid-column: outer-start / inner-start;
    grid-row: inner-end / outer-end;
    border: 1px solid #68A469;
}

.square-deco-container .square-deco-square-right-top {
    grid-column: inner-end / outer-end;
    grid-row: outer-start / inner-start;
    border: 1px solid #68A469;
}

.square-deco-container .square-deco-square-right-bottom {
    grid-column: inner-end / outer-end;
    grid-row: inner-end / outer-end;
    border: 1px solid #68A469;
}

.square-deco-container .square-deco-tall {
    grid-column: gap-start / gap-end;
    grid-row: outer-start / outer-end;
    border-top: 1px solid #6F1946;
    border-bottom: 1px solid #6F1946;
}

.square-deco-container .square-deco-wide {
    grid-column: outer-start / outer-end;
    grid-row: gap-start / gap-end;
    border-left: 1px solid #6F1946;
    border-right: 1px solid #6F1946;
}