/* Newspaper  */
@font-face {
  font-family: "newspaper-body";
  src: url("/static/fonts/OldNewspaperTypes.ttf") format("truetype");
}

@font-face {
  font-family: "Chomsky";
  src: url("/static/fonts/Chomsky.woff") format("woff");
}

.navbar {
  margin-bottom: 1rem;
  background-color: #353434;
}

.navbar-brand {
  font-family: "newspaper-body", sans-serif;
  color: #f4f4f4;
}

a.navbar-brand:hover {
  color: #f9eac8;
}

.nav-link {
  color: #f4f4f4;
}

.nav-link:focus,
.nav-link:hover {
  color: #f9eac8;
  text-decoration: none;
}

.dropdown-menu {
  color: #111;
  background-color: #fef5e0;
}

.dropdown-item,
.dropdown-item:focus,
.dropdown-item:hover {
  color: #111;
}

.dropdown-item:hover {
  background-color: #feeabc;
  text-decoration: underline;
}

/* body rules */

body {
  background-color: #ebe7dd;
  color: #111;
  font-family: "newspaper-body", serif;
}

a:not(.navbar *) {
  color: #111;
  text-decoration: none;
}

a:not(.navbar *):hover {
  color: #111;
  text-decoration: underline;
  text-decoration-color: #d2042d;
}

.card.border-dark {
  border-color: rgb(46, 0, 15) !important;
}

.card-title {
  font-size: 1.25rem;
  border: none;
}

.card-issue {
  background-color: #353434;
  color: #f4f4f4;
  max-width: 100%;
}

.card-issue:hover {
  background-color: transparent;
  color: rgb(46, 0, 15);
}

.card-issue .card-title {
  color: inherit;
}

.card-lens {
  background-color: transparent;
  color: rgb(46, 0, 15);
}

.card-lens:hover {
  background-color: #353434;
  color: #f4f4f4;
}

.card-lens .card-title {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chomsky", sans-serif;
  color: #111;
  padding: 0.5rem;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 2px 0 2px 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p:not(.byline):not(.subheader):not(blockquote > p):not(.card-text):not(#issue-meta p):first-letter {
  color: rgb(46, 0, 15);
  float: left;
  font-family: Georgia;
  font-size: 3em;
  line-height: 1em;
  padding-top: 0;
  padding-right: 8px;
  padding-left: 3px;
}

.byline {
  font-family: "newspaper-body";
  color: rgb(46, 0, 15);
  font-style: oblique;
}

.subheader {
  font-size: 1.25rem;
  color: #1a0000;
}

figcaption,
.byline {
  font-size: 0.875rem;
  padding: 0.25rem;
}

.custom-highlight {
  background-color: #4a1520;
  color: #f4f4f4;
}

.accordion-item {
  background-color: transparent;
}

.accordion-button {
  color: #111;
}

.accordion-button:focus {
  color: #f4f4f4;
  background-color: #4a1520;
  border-color: #4a1520;
  box-shadow: 0 0 0 0.25rem rgb(210 4 45 / 25%);
}

.accordion-button:not(.collapsed) {
  color: #f4f4f4;
  background-color: #4a1520;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f4f4f4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.btn-outline-secondary {
  color: #4a1520;
}

.btn-outline-secondary:active {
  color: #f4f4f4;
  background-color: #4a1520;
}

.btn-outline-secondary:hover {
  color: #f4f4f4;
  background-color: #4a1520;
}

.btn-secondary {
  color: #f4f4f4;
  background-color: #353434;
  border-color: #4a1520;
}

.btn-secondary:hover {
  color: #f4f4f4;
  background-color: #4a1520;
  border-color: #4a1520;
}

img {
  filter: grayscale(100%);
}

.modal-title {
  border: none;
}
