/* Newspaper Theme */

/* newspaper-like body font for articles and dense texts */
@font-face {
  font-family: "newspaper-body";
  src: url("/static/fonts/OldNewspaperTypes.ttf") format("truetype");
}

/* elaborate and decorated font for website-mag title */
@font-face {
  font-family: "Chomsky";
  src: url("/static/fonts/Chomsky.woff") format("woff");
}

/* boldy font for headers and menus */
@font-face {
  font-family: "newspaper-header";
  src: url("/static/fonts/chunkfive.print.ttf") format("truetype");
}

/* bold serif plain font for subheaders inside articles */
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap");

/* navbar rules */

.navbar {
  margin-bottom: 1rem;
  background-color: #353434;
}

.navbar-brand {
  font-family: "newspaper-header", sans-serif;
  color: #f4f4f4;
}

a.navbar-brand:hover {
  color: #f9eac8;
}

.protect {
  text-transform: none;
}

.nav-link {
  color: #f4f4f4;
  font-family: "newspaper-header", sans-serif;
  text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover {
  color: #f9eac8;
  text-decoration: none;
}

.dropdown-menu {
  color: #111;
  background-color: #fef5e0;
  font-family: "newspaper-header", sans-serif;
  text-transform: uppercase;
}

.dropdown-item,
.dropdown-item:focus,
.dropdown-item:hover {
  color: #111;
}

.dropdown-item:hover {
  background-color: #feeabc;
  text-decoration: underline;
}

/* body rules */

body {
  background-color: #ebe7dd;
  color: #111;
  font-family: "newspaper-body", serif;
}

a:not(.navbar *) {
  color: #111;
  text-decoration: none;
}

a:not(.navbar *):hover {
  color: #111;
  text-decoration: underline;
  text-decoration-color: #d2042d;
}

/* homepage boxes */

.card {
  border-radius: 0 !important;
}

.card.border-dark {
  border-color: rgb(46, 0, 15) !important;
}

.card-title {
  font-family: "newspaper-header", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  border: none;
}

.card-issue {
  background-color: #353434;
  color: #f4f4f4;
  max-width: 100%;
}

.card-issue:hover {
  background-color: transparent;
  color: rgb(46, 0, 15);
}

.card-issue .card-title {
  color: inherit;
}

.card-lens {
  background-color: transparent;
  color: rgb(46, 0, 15);
}

.card-lens:hover {
  background-color: #353434;
  color: #f4f4f4;
}

.card-lens .card-title {
  color: inherit;
}

/* header rules */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Newsreader", serif;
  color: #111;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.issues-lenses > h1 {
  border-color: black;
  border-style: solid;
  border-width: 2px 0 2px 0;
  font-style: italic;
}
.issues-lenses > h1::before {
  content: "👉🏼";
  padding: 0.5em;
}

h1 {
  font-size: 2rem;
}

h1.homepage-header {
  font-family: "Chomsky", serif;
  border-color: black;
  border-style: solid;
  border-width: 2px 0 2px 0;
}

.homepage-sub {
  font-style: italic;
}

#article1 > h1,
#article2 > h1,
#article3 > h1,
.header-and-sub > h1 {
  border-color: black;
  border-style: solid;
  border-width: 2px 0 2px 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.875rem;
}

#article1 > h2,
#article2 > h2,
#article3 > h2 {
  border-color: black;
  border-style: solid;
  border-width: 2px 0 2px 0;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h5.modal-title {
  font-family: "Newsreader", serif;
  text-transform: uppercase;
}

h6 {
  font-size: 1rem;
}

/* paragraph rules */
p {
  margin-bottom: 0.2vw;
  text-align: justify;
  letter-spacing: -0.01vw;
}

.modal-body p:nth-child(n + 2) {
  text-indent: 1.25vw;
}

#homepage p:nth-child(n + 5) {
  text-indent: 1.25vw;
}

#homepage
  p:not(.byline):not(.subheader):not(blockquote > p):not(.card-text):not(#issue-meta p):nth-child(4)::first-letter {
  font-size: 2.75vw;
  float: left;
  line-height: 2vw;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Newsreader", serif;
}

#article1 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(4)::first-letter,
#article2 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(5)::first-letter,
#article3 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(5)::first-letter,
.dropcap::first-letter,
.dropcap-two::first-letter {
  font-size: 3.5vw;
  float: left;
  line-height: 2.5vw;
  padding-right: 0.3vw;
  font-family: "Newsreader", serif;
}

p.no-dropcap::first-letter {
  font-size: 1.25vw !important;
  float: none !important;
  line-height: normal !important;
  padding-right: 0 !important;
  font-family: "newspaper-body", serif !important;
}

p.no-dropcap {
  text-indent: 1.25vw;
}

p.after-box {
  text-indent: 0 !important;
  padding-top: 0.23vw;
}

.byline {
  font-family: "newspaper-body";
  color: rgb(46, 0, 15);
  font-style: oblique;
  border-color: black;
  border-style: solid;
  border-width: 0.2777vw 0 0.2777vw 0;
}

.subheader {
  font-size: 1.1rem;
  letter-spacing: -0.3px
  color: #1a0000;
}

.homepage-col > figure {
  position: relative;
  padding: 1rem 0px;
  margin: 3rem 0px;
}

.homepage-col > figure:before {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 25%;
  height: 0.121506vh;
  width: 50%;
}
.homepage-col > figure:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 25%;
  height: 0.121506vh;
  width: 50%;
}

.homepage.container {
  margin: 3em 0.5em;
}

figcaption,
.byline {
  font-size: 0.875rem;
  padding: 0.25rem;
}

img {
  filter: grayscale(100%);
}

.custom-highlight {
  background-color: #4a1520;
  color: #f4f4f4;
}

/* metadata viewer */

.offcanvas-title,
.offcanvas-body h5,
.offcanvas-body h6 {
  font-family: "newspaper-header", sans-serif;
  text-transform: uppercase;
}

.offcanvas {
  background-color: #d7ccc1;
}

.accordion-item {
  background-color: transparent;
}

.accordion-button {
  color: #111;
  background-color: #d7ccc1;
}

.accordion-button:focus {
  color: #111;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #111;
  background-color: #d7ccc1;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f4f4f4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f4f4f4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* btns and modals */
.btn-outline-secondary {
  border-radius: 0px;
  color: #4a1520;
}

.btn-outline-secondary:active {
  color: #353434;
  background-color: transparent;
}

.btn-outline-secondary:hover {
  color: #353434;
  background-color: transparent;
}

.btn-secondary {
  color: #353434;
  background-color: transparent;
  border-color: transparent;
}

.btn-secondary:hover {
  color: #353434;
  background-color: transparent;
  border-color: transparent;
}

.btn.clear-highlights {
  box-shadow: none;
}

.btn.clear-highlights:hover {
  box-shadow: 0 0 0 0.25rem rgb(53 53 53 / 25%);
}

.modal-title {
  border: none;
}

.btn-group > :not(.btn-check) + .btn {
  border-radius: 0 !important;
}

.btn,
.dropdown-menu {
  border-radius: 0 !important;
}

h3.accordion-header {
  border: none;
}

.accordion-button:focus.collapsed::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
