/* Newspaper Theme */

/* newspaper-like body font for articles and dense texts */
@font-face {
  font-family: "newspaper-body";
  src: url("/LiterOCULAR/static/fonts/OldNewspaperTypes.ttf") format("truetype");
}

/* elaborate and decorated font for website-mag title */
@font-face {
  font-family: "Chomsky";
  src: url("/LiterOCULAR/static/fonts/Chomsky.woff") format("woff");
}

/* boldy font for menus */
@font-face {
  font-family: "newspaper-header";
  src: url("/LiterOCULAR/static/fonts/chunkfive.print.ttf") format("truetype");
}

/* bold serif plain font for headers */
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap");

/* navbar rules */

.navbar {
  margin-bottom: 1.25vw;
  background-color: #353434;
}

.navbar-brand {
  font-family: "Chomsky", serif;
  color: #f4f4f4;
  font-size: 1.56vw;
}

a.navbar-brand:hover {
  color: #f9eac8;
}

.protect {
  text-transform: none;
}

.nav-link {
  color: #f4f4f4;
  font-family: "newspaper-header", sans-serif;
  text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover {
  color: #f9eac8;
  text-decoration: none;
}

.dropdown-menu {
  color: #111;
  background-color: #fef5e0;
  font-family: "newspaper-header", sans-serif;
  text-transform: uppercase;
  font-size: 1.25vw;
}

.dropdown-item,
.dropdown-item:focus,
.dropdown-item:hover {
  color: #111;
}

.dropdown-item:hover {
  background-color: #feeabc;
  text-decoration: underline;
}

/* body rules */

body {
  background-color: #ebe7dd;
  color: #111;
  font-family: "newspaper-body", serif;
  font-size: 1.25vw;
}

.blockquote-footer {
  color: #111;
}

a:not(.navbar *) {
  color: #4a1520;
  text-decoration: none;
}

a:not(.navbar *):hover {
  color: #353434;
}

/* homepage boxes */

.card {
  border-radius: 0 !important;
}

.card-body {
  padding: 0.315vw;
}

.card.border-dark {
  border-color: rgb(46, 0, 15) !important;
  border-top: 0;
  border-bottom: 0;
}

.card-title {
  font-family: "newspaper-header", sans-serif;
  text-transform: uppercase;
  font-size: 1.40vw;
  border: none;
}

.card-issue .card-title {
  color: inherit;
}

.card-lens, .card-issue {
  background-color: transparent;
  color: rgb(46, 0, 15);
}

.card-lens:hover, .card-issue:hover {
  color: #353434;
}

.card-lens .card-title {
  color: inherit;
}

.issues-lenses {
  border: solid black;
  border-width: 0 0 0 0.15vw;
}

/* header rules */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Newsreader", serif;
  color: #111;
  padding: 0.625vw;
  text-align: center;
  text-transform: uppercase;
}

.issues-lenses > h1 {
  border: solid black;
  border-width: 0.15vw 0 0 0;
  font-style: bold;
  padding-right: 1.95vw;
}

.issues-lenses > h1::before {
  content: url(hand.png);
  padding: 0.31vw;
}

.issues-hp, .lenses-hp {
  border: double black;
  border-width: 0.31vw 0 0 0;
}

h1 {
  font-size: 3.75vw;
}

h1.homepage-header {
  font-family: "Chomsky", serif;
  border: 0.15vw double black;
  border-width: 0.46vw 0 0 0;
}

.homepage-sub {
  border: 0.15vw double black;
  border-width: 0.46vw 0 0.46vw 0;
}

#article1 > h1,
#article2 > h1,
#article3 > h1,
.header-and-sub > h1 {
  border-color: black;
  border-style: solid;
  border-width: 0.15vw 0 0 0;
  font-size: 2.5vw;
}

h2 {
  font-size: 2.34vw;
}

#article1 > h2,
#article2 > h2,
#article3 > h2 {
  border-color: black;
  border-style: double;
  border-width: 0.31vw 0 0.31vw 0;
  margin-top: 0.625vw;
}

h3 {
  font-size: 1.875vw;
}

h4 {
  font-size: 1.56vw;
}

h5 {
  font-size: 1.40vw;
}

h5.modal-title {
  font-family: "Newsreader", serif;
  text-transform: uppercase;
}

h6 {
  font-size: 1.25vw;
}

/* paragraph rules */
p {
  margin-bottom: 0vw;
  text-align: justify;
  letter-spacing: -0.01vw;
}

#article1,
#article2,
#article3 {
  max-height: 88vh !important;
  border: solid black;
  border-width: 0 0.15vw 0 0;
}

.modal-body p:nth-child(n+1) {
  text-indent: 1.25vw;
}

#homepage p:nth-child(n+4) {
  text-indent: 1.25vw;
}

#article1 p:nth-child(n+4) {
  text-indent: 1.25vw;
}

#article2 p:nth-child(n+5) {
  text-indent: 1.25vw;
}

#article3 p:nth-child(n+4) {
  text-indent: 1.25vw;
}

/*
#homepage
p:not(.byline):not(.subheader):not(blockquote > p):not(.card-text):not(#issue-meta p):nth-child(4)::first-letter {
  font-size: 4.06vw;
  float: left;
  line-height: 3.8vw;
  padding-right: 2px;
  font-family: "Newsreader", serif;
  margin-bottom: -0.05vw;
}


#article1 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(4)::first-letter,
#article2 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(5)::first-letter,
#article3 p:not(.byline):not(.subheader):not(figure):not(h1):nth-child(5)::first-letter,
.dropcap::first-letter,
.dropcap-two::first-letter {
  font-size: 3.5vw;
  float: left;
  line-height: 2.5vw;
  padding-right: 0.3vw;
  font-family: "Newsreader", serif;
}

p.no-dropcap::first-letter {
  font-size: 1.25vw !important;
  float: none !important;
  line-height: normal !important;
  padding-right: 0 !important;
  font-family: "newspaper-body", serif !important;
}

p.no-dropcap {
  text-indent: 1.25vw;
}

p.after-box {
  text-indent: 0 !important;
  padding-top: 0.23vw;
}
*/

.byline {
  font-family: "newspaper-body";
  color: rgb(46, 0, 15);
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 0.15vw 0 0.15vw 0;
  padding: 0.625vw 0 0.625vw 0;
}

.subheader {
  font-size: 1.37vw;
  letter-spacing: -0.023vw;
  color: #1a0000;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 0.15vw 0 0 0;
  padding: 0.625vw 0 0.625vw 0;
}

.homepage-col figure {
  position: relative;
  padding: 1.25vw 0;
  margin: 3.75vw 0 0 0;
}

.homepage-col figure:before {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 25%;
  height: 0.12vh;
  width: 50%;
}
.homepage-col figure:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 25%;
  height: 0.12vh;
  width: 50%;
}

figcaption, .byline {
  font-size: 1.09vw;
}

img {
  filter: grayscale(100%);
}

.custom-highlight {
  background-color: #4a1520;
  color: #f4f4f4;
}

.kmd-91-bq, .kmd-94-bq {
  border-color: black;
  border-style: double;
  border-width: 0.31vw 0 0.31vw 0;
  margin-top: 0.625vw;
}

.kmd-94-bq-ft {
  text-align: center;
}

.kmd-98-artwork, .kmd-98-artwork-2, .kmd-98-artwork-3, .kmd-98-artwork-4, .kmd-94-img {
  margin: 0.625vw 0 -0.625vw 0.625vw;
  float: right;
  width: 50%;
}

.kmd-94-img-2, .kmd-94-caption {
  margin: 0.625vw 0.625vw 0 0;
  float: left;
  width: 50%;
}

.nyt-photo {
  float: right;
  width: 50%;
  margin: 0.625vw 0 0 0.625vw;
}

.nyt-photo-cap {
  float: right;
  width: 50%;
  margin: 0.625vw 0 0 0.625vw;
}

.nyt-photo-2 {
  float: left;
  width: 50%;
  margin: 0.625vw 0.625vw 0 0;
}

.nyt-photo-cap-2 {
  float: left;
  width: 50%;
  margin: 0.625vw 0.625vw 0 0;
}

/* metadata viewer */

.offcanvas-title,
.offcanvas-body h5,
.offcanvas-body h6, 
.offcanvas .accordion-button,
#docuModal .accordion-button {
  font-family: "newspaper-header", sans-serif;
  text-transform: uppercase;
}

.offcanvas, .modal-content {
  background-color: #d7ccc1;
}

.offcanvas-header {
  border-bottom: 0.625vw double black;
  margin: 0.625vw;
}

.offcanvas hr {
  color: black;
  height: 0.1vw !important;
  opacity: 1 !important;
}

.accordion-item {
  background-color: transparent;
  border: 0.07vw solid black;
}

.accordion-button {
  color: #111;
  background-color: #d7ccc1;
  font-size: 1.25vw;
}

.accordion-button:focus {
  color: #111;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #111;
  background-color: #d7ccc1;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f4f4f4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f4f4f4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* btns and modals */

.btn-outline-secondary {
  border-radius: 0vw;
  color: #4a1520;
  font-size: 1.09vw;
}

.btn-outline-secondary:active {
  color: #353434;
  background-color: transparent;
}

.btn-outline-secondary:hover {
  color: #353434;
  background-color: transparent;
}

.btn-secondary {
  color: #353434;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.25vw;
}

.btn-secondary:hover {
  color: #353434;
  background-color: transparent;
  border-color: transparent;
}

.btn.clear-highlights {
  box-shadow: none;
  font-size: 1.25vw;
}

.btn.clear-highlights:hover {
  box-shadow: 0 0 0 0.31vw rgb(53 53 53 / 25%);
}

.modal-header, .modal-footer {
  border-radius: 0;
}

.modal-header {
  border-bottom: 0.31vw double black;
}

.modal-footer {
  border-top: 0.31vw double black;
}

.btn-group > :not(.btn-check) + .btn {
  border-radius: 0 !important;
}

.btn,
.dropdown-menu {
  border-radius: 0 !important;
}

h3.accordion-header {
  border: none;
}

.accordion-button:focus.collapsed::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.modal-content {
  border-radius: 0;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus, .btn:focus, .btn-check:focus+.btn-outline-secondary, .btn-outline-secondary:focus, .btn-close:focus {
  box-shadow: 0 0 0 0.31vw rgb(53 53 53 / 25%);
  background-color: transparent;
  color: rgb(53, 52, 52);
  border: none;
} 
